.Indicator {
    width: 300px;
    height: 30px;
    background: linear-gradient(#dbeac7, #edf8d9);
    border: 1px solid #888;
    border-radius: 6px;
    line-height: 30px;
    font-size: 11px;
    font-family: Tahoma;
    text-align: center;
    color: #666;
}
.Indicator__text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.Indicator__progressbar {
    height: 6px;
    width: 94%;
    margin: auto;
    border: 1px solid #aaa;
    border-radius: 2px;
    margin-top: 12px;
}
.Indicator__progressbar>div {
    background: #bbb;
    height: 100%;
    border-right: 1px solid #bbb;
}

