.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.App__Descrtiption {
}

.App__TextToType {
}

.App__Keyboard {
  /* background: red; */
}
